# Multiple Linear Regression

In [1]:
# Importing the dataset
dataset = read.csv('./Datasets/50_Startups.csv')

In [2]:
dataset

   R.D.Spend Administration Marketing.Spend State      Profit
1  165349.20 136897.80      471784.10       New York   192261.83
2  162597.70 151377.59      443898.53       California 191792.06
3  153441.51 101145.55      407934.54       Florida    191050.39
4  144372.41 118671.85      383199.62       New York   182901.99
5  142107.34  91391.77      366168.42       Florida    166187.94
6  131876.90  99814.71      362861.36       New York   156991.12
7  134615.46 147198.87      127716.82       California 156122.51
8  130298.13 145530.06      323876.68       Florida    155752.60
9  120542.52 148718.95      311613.29       New York   152211.77
10 123334.88 108679.17      304981.62       California 149759.96
11 101913.08 110594.11      229160.95       Florida    146121.95
12 100671.96  91790.61      249744.55       California 144259.40
13  93863.75 127320.38      249839.44       Florida    141585.52
14  91992.39 135495.07      252664.93       California 134307.35
15 119943.24 156547.42      256512.92       Florida    132602.65
16 114523.61 122616.84      261776.23       New York   129917.04
17  78013.11 121597.55      264346.06       California 126992.93
18  94657.16 145077.58      282574.31       New York   125370.37
19  91749.16 114175.79      294919.57       Florida    124266.90
20  86419.70 153514.11           0.00       New York   122776.86
21  76253.86 113867.30      298664.47       California 118474.03
22  78389.47 153773.43      299737.29       New York   111313.02
23  73994.56 122782.75      303319.26       Florida    110352.25
24  67532.53 105751.03      304768.73       Florida    108733.99
25  77044.01  99281.34      140574.81       New York   108552.04
26  64664.71 139553.16      137962.62       California 107404.34
27  75328.87 144135.98      134050.07       Florida    105733.54
28  72107.60 127864.55      353183.81       New York   105008.31
29  66051.52 182645.56      118148.20       Florida    103282.38
30  65605.48 153032.06      107138.38       New York   101004.64
31  61994.48 115641.28       91131.24       Florida     99937.59
32  61136.38 152701.92       88218.23       New York    97483.56
33  63408.86 129219.61       46085.25       California  97427.84
34  55493.95 103057.49      214634.81       Florida     96778.92
35  46426.07 157693.92      210797.67       California  96712.80
36  46014.02  85047.44      205517.64       New York    96479.51
37  28663.76 127056.21      201126.82       Florida     90708.19
38  44069.95  51283.14      197029.42       California  89949.14
39  20229.59  65947.93      185265.10       New York    81229.06
40  38558.51  82982.09      174999.30       California  81005.76
41  28754.33 118546.05      172795.67       California  78239.91
42  27892.92  84710.77      164470.71       Florida     77798.83
43  23640.93  96189.63      148001.11       California  71498.49
44  15505.73 127382.30       35534.17       New York    69758.98
45  22177.74 154806.14       28334.72       California  65200.33
46   1000.23 124153.04        1903.93       New York    64926.08
47   1315.46 115816.21      297114.46       Florida     49490.75
48      0.00 135426.92           0.00       California  42559.73
49    542.05  51743.15           0.00       New York    35673.41
50      0.00 116983.80       45173.06       California  14681.40

In [3]:
# Encoding categorical data/ Turning categorical variables into numeric ones
dataset$State = factor(dataset$State,
                       levels = c('New York', 'California', 'Florida'),
                       labels = c(1, 2, 3))

In [4]:
# Splitting the dataset into the Training set and Test set
# install.packages('caTools')
library(caTools)
set.seed(123)
split = sample.split(dataset$Profit, SplitRatio = 0.8)
training_set = subset(dataset, split == TRUE)
test_set = subset(dataset, split == FALSE)

Warning message:
"package 'caTools' was built under R version 3.6.3"

In [5]:
# Feature Scaling
# training_set = scale(training_set)
# test_set = scale(test_set)

In [6]:
# Fitting Multiple Linear Regression to the Training set
regressor = lm(formula = Profit ~ .,
               data = training_set)

In [7]:
summary(regressor)

Call:
lm(formula = Profit ~ ., data = training_set)

Residuals:
   Min     1Q Median     3Q    Max
-33128  -4865      5   6098  18065

Coefficients:
                  Estimate Std. Error t value Pr(>|t|)
(Intercept)      4.965e+04  7.637e+03   6.501 1.94e-07 ***
R.D.Spend        7.986e-01  5.604e-02  14.251 6.70e-16 ***
Administration  -2.942e-02  5.828e-02  -0.505    0.617
Marketing.Spend  3.268e-02  2.127e-02   1.537    0.134
State2           1.213e+02  3.751e+03   0.032    0.974
State3           2.376e+02  4.127e+03   0.058    0.954
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 9908 on 34 degrees of freedom
Multiple R-squared:  0.9499,	Adjusted R-squared:  0.9425
F-statistic:   129 on 5 and 34 DF,  p-value: < 2.2e-16

In [8]:
# Predicting the Test set results
y_pred = predict(regressor, newdata = test_set)
y_pred = data.frame(y_pred)
y_pred$y=test_set$Profit
y_pred

   y_pred    y
4  173981.09 182901.99
5  172655.64 166187.94
8  160250.02 155752.60
11 135513.90 146121.95
16 146059.36 129917.04
20 114151.03 122776.86
21 117081.62 118474.03
24 110671.31 108733.99
31  98975.29  99937.59
32  96867.03  97483.56

# Some testing

In [9]:
# Predicting the Test set results
regressor1 = lm(formula = Profit ~ .,
               data = training_set)

regressor2 = lm(formula = Profit ~ R.D.Spend,
               data = training_set)

regressor3 = lm(formula = Profit ~ Administration + State + Marketing.Spend,
               data = training_set)

df = data.frame(test_set$Profit)
names(df) = "RealProfit"
df$AllVar_Regr = predict(regressor1, newdata = test_set)
df$OnlyRDSpend_Regr = predict(regressor2, newdata = test_set)
df$AllButRDSpend_Regr = predict(regressor3, newdata = test_set)
df

   RealProfit AllVar_Regr OnlyRDSpend_Regr AllButRDSpend_Regr
1  182901.99  173981.09   172647.9         154012.77
2  166187.94  172655.64   170708.2         135024.67
3  155752.60  160250.02   160595.5         139462.57
4  146121.95  135513.90   136288.1         103988.63
5  129917.04  146059.36   147087.1         122705.71
6  122776.86  114151.03   123020.5          61721.90
7  118474.03  117081.62   114315.0         133846.79
8  108733.99  110671.31   106846.5         122788.92
9   99937.59   98975.29   102104.1          68563.50
10  97483.56   96867.03   101369.2          85064.77

# Backward Elimination

In [10]:
# Fitting Multiple Linear Regression to the Training set
regressor = lm(formula = Profit ~ R.D.Spend + Administration + Marketing.Spend + State,
               data = dataset)
summary(regressor)

Call:
lm(formula = Profit ~ R.D.Spend + Administration + Marketing.Spend +
    State, data = dataset)

Residuals:
   Min     1Q Median     3Q    Max
-33504  -4736     90   6672  17338

Coefficients:
                  Estimate Std. Error t value Pr(>|t|)
(Intercept)      5.008e+04  6.953e+03   7.204 5.76e-09 ***
R.D.Spend        8.060e-01  4.641e-02  17.369  < 2e-16 ***
Administration  -2.700e-02  5.223e-02  -0.517    0.608
Marketing.Spend  2.698e-02  1.714e-02   1.574    0.123
State2           4.189e+01  3.256e+03   0.013    0.990
State3           2.407e+02  3.339e+03   0.072    0.943
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 9439 on 44 degrees of freedom
Multiple R-squared:  0.9508,	Adjusted R-squared:  0.9452
F-statistic: 169.9 on 5 and 44 DF,  p-value: < 2.2e-16

In [11]:
# Fitting Multiple Linear Regression to the Training set
regressor = lm(formula = Profit ~ R.D.Spend + Administration + Marketing.Spend,
               data = dataset)
summary(regressor)

Call:
lm(formula = Profit ~ R.D.Spend + Administration + Marketing.Spend,
    data = dataset)

Residuals:
   Min     1Q Median     3Q    Max
-33534  -4795     63   6606  17275

Coefficients:
                  Estimate Std. Error t value Pr(>|t|)
(Intercept)      5.012e+04  6.572e+03   7.626 1.06e-09 ***
R.D.Spend        8.057e-01  4.515e-02  17.846  < 2e-16 ***
Administration  -2.682e-02  5.103e-02  -0.526    0.602
Marketing.Spend  2.723e-02  1.645e-02   1.655    0.105
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 9232 on 46 degrees of freedom
Multiple R-squared:  0.9507,	Adjusted R-squared:  0.9475
F-statistic:   296 on 3 and 46 DF,  p-value: < 2.2e-16

In [12]:
# Fitting Multiple Linear Regression to the Training set
regressor = lm(formula = Profit ~ R.D.Spend + Marketing.Spend,
               data = dataset)
summary(regressor)

Call:
lm(formula = Profit ~ R.D.Spend + Marketing.Spend, data = dataset)

Residuals:
   Min     1Q Median     3Q    Max
-33645  -4632   -414   6484  17097

Coefficients:
                 Estimate Std. Error t value Pr(>|t|)
(Intercept)     4.698e+04  2.690e+03  17.464   <2e-16 ***
R.D.Spend       7.966e-01  4.135e-02  19.266   <2e-16 ***
Marketing.Spend 2.991e-02  1.552e-02   1.927     0.06 .
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 9161 on 47 degrees of freedom
Multiple R-squared:  0.9505,	Adjusted R-squared:  0.9483
F-statistic: 450.8 on 2 and 47 DF,  p-value: < 2.2e-16

In [13]:
# Fitting Multiple Linear Regression to the Training set
regressor = lm(formula = Profit ~ R.D.Spend,
               data = dataset)
summary(regressor)

Call:
lm(formula = Profit ~ R.D.Spend, data = dataset)

Residuals:
   Min     1Q Median     3Q    Max
-34351  -4626   -375   6249  17188

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) 4.903e+04  2.538e+03   19.32   <2e-16 ***
R.D.Spend   8.543e-01  2.931e-02   29.15   <2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 9416 on 48 degrees of freedom
Multiple R-squared:  0.9465,	Adjusted R-squared:  0.9454
F-statistic: 849.8 on 1 and 48 DF,  p-value: < 2.2e-16

In [14]:
# Predicting the Test set results
y_pred = predict(regressor, newdata = test_set)
y_pred = data.frame(y_pred)
y_pred$y=test_set$Profit
y_pred

   y_pred   y
4  172369.0 182901.99
5  170434.0 166187.94
8  160345.5 155752.60
11 136096.4 146121.95
16 146869.4 129917.04
20 122860.5 122776.86
21 114175.9 118474.03
24 106725.4 108733.99
31 101994.2  99937.59
32 101261.2  97483.56

## Function for automatic B.E.

In [15]:
backwardElimination <- function(x, sl) {
    numVars = length(x)
    for (i in c(1:numVars)){
      regressor = lm(formula = Profit ~ ., data = x)
      maxVar = max(coef(summary(regressor))[c(2:numVars), "Pr(>|t|)"])
      if (maxVar > sl){
        j = which(coef(summary(regressor))[c(2:numVars), "Pr(>|t|)"] == maxVar)
        x = x[, -j]
      }
      numVars = numVars - 1
    }
    return(summary(regressor))
  }

In [16]:
SL = 0.07
# dataset = dataset[, c(1,2,3,4,5)] # Idk what this does so I removed it
backwardElimination(dataset, SL)

Call:
lm(formula = Profit ~ ., data = x)

Residuals:
   Min     1Q Median     3Q    Max
-33645  -4632   -414   6484  17097

Coefficients:
                 Estimate Std. Error t value Pr(>|t|)
(Intercept)     4.698e+04  2.690e+03  17.464   <2e-16 ***
R.D.Spend       7.966e-01  4.135e-02  19.266   <2e-16 ***
Marketing.Spend 2.991e-02  1.552e-02   1.927     0.06 .
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 9161 on 47 degrees of freedom
Multiple R-squared:  0.9505,	Adjusted R-squared:  0.9483
F-statistic: 450.8 on 2 and 47 DF,  p-value: < 2.2e-16